{% if ad_type == 'image' %}

<div class="ad_image"><a href="{{ url }}" target="_blank"><img src="{{ image }}"/></a></div>

{% elseif ad_type == 'text' %}

<div class="ad_text">{{ text.value|striptags }}</div>

{% else %}

<div class="ad_flash">

    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" id="ad-2" width="251" height="120">
        <param name="movie" value="{{ flash }}">
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <embed src="{{ flash }}" quality="high" bgcolor="#ffffff" name="ad-2" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" width="251" height="120" align="">
    </object>
</div>

{% endif %}